#map{
  height: calc(100vw * (9/16));
}
ul.cat-menu{
  display:inline-block;
  padding:0;
}
ul.cat-menu li{
  display:inline-block;
  padding: 5px 5px;
}
ul.cat-menu li a{
  display:block;
  border:1px solid #333;
  border-radius:20px;
  padding:10px 15px;
  cursor: pointer;
}
ul.cat-menu li a::after{
  content:'+';
}